<nav class="navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Animations API</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample02">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/simple">Simple <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/bug">Bug</a>
        </li>
        <li class="nav-item">
         <a class="nav-link" routerLink="/multiple">Multiple</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/multi">Multi-Step</a>
         </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/todo">ToDo</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/list">List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/callbacks">Callbacks</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-md-0">
        <input class="form-control" type="text" placeholder="Search">
      </form>
    </div>
  </nav>

<main>
    <div class="container">
         <router-outlet></router-outlet>
    </div>
</main>
